@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Montserrat', sans-serif;
  /*overflow: hidden;  Hide scrollbars */
}
header{
  background-color: white;
}
.vacancy-header{
  font-weight: 600;
  font-size: 54px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.main-center{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3em;
  margin-top: 3em;
}

h1{
  font-size: 2em;
  font-weight: bold;
}
h2{
  font-size: 1.2em;
  font-weight: bold;
}
.but1{
  height: 58px;
  background-color: #6F08FF;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;
  display: flex;
  margin: 20px 20px 20px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

}

.uwu{
  color: black;
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  width: 100%;
  border-radius: 20px;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

}
.categories ul li{
  display: flex;
  justify-content: center;
  justify-items: center;
  white-space: nowrap;

}
.categories ul{
  display: flex;
  justify-content: center;
  justify-items: center;
}

.categories{
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x:hidden;

}

.im{
  padding-left: 20px;
}

.pad{
  padding-left: 40%;
}

.cat ul li{
  color: black;
  display: flex;
  margin: 20px 10px 20px 20px;
  border-radius: 20px;

}
.cat ul{
  display: flex;

}

/*//////////////////////////////////*/
/*             VACANCY              */
/*//////////////////////////////////*/

.vacancy-descripton{
  height:50px;
}
.vacancy-name{
  margin-top: 10px;
}
.status1{
  padding: 4px;
  background: #FFC1C1;
  width: 25%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FC2222;
  position: absolute;
  border-radius: 8px;
  margin-top: -190px;
  margin-left: 340px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
}
.status2{
  padding: 4px;
  background: #C1DAFF;
  width: 25%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0569FF;
  position: absolute;
  border-radius: 8px;
  margin-top: -190px;
  margin-left: 340px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
}
.status3{
  padding: 4px;
  background: #C3FF9E;
  width: 25%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #368A02;
  position: absolute;
  border-radius: 8px;
  margin-top: -190px;
  margin-left: 340px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
}
.posit1{
  position: absolute;
  margin-left: 20%;

}
.posit2{
  position: absolute;
  margin-left: 52%;

}
.posit3{
  margin-top: 340px;
  margin-left: 20%;
  margin-bottom: 4em;

}
.new-vacancies li{
  border-radius: 20px;
  margin:10px 0px 10px 0px;
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  flex-grow: 1;
  width: 550px;
  padding:20px 20px 20px 20px;
}
.new-vacancies ul{
  display: flex;
  flex-wrap: wrap;
}
.vacancy{
  position: relative;
}
.department-name{
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}
.salary{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}
.department{
  display: flex;
  line-height: 60px;
  gap: 10px;
}
.department-logo{
  background: url("./../../../../../../../../../img/department-logo.png") center no-repeat;
  height: 60px;
  width: 60px;
}
.like{
  position: absolute;
  right: 0;
  background: url("./../../../../../../../../../img/onlike.png") center no-repeat;
  height: 30px;
  width: 30px;
  transition: background-color 0.5s;
}

.vacancy-descripton{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}
.respond{
  background:#6F08FF;
  width: 150px;
  height:40px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
}
.details{
  right: 0;
  background: black;
  width: 150px;
  height:40px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
}
.vacancy-buttons {
  display: flex;
  gap: 20px;

  justify-content: flex-end;
  align-items: flex-end;
}





