<body class="main-center">
<div class="placeholder" *ngIf="(vacancies$ | async)?.length===0">Вы пока не откликнулись ни на одну вакансию</div>
<div class="new-vacancies" *ngIf="(vacancies$ | async)?.length!==0">
    <ul>
        <li *ngFor="let vacancy of vacancies$ | async">
            <app-vacancy
                [showRespondButton]="false"
                [respondedUsers]="vacancy.respondedUsers"
                id="{{vacancy.id}}"
                departamentName="{{vacancy.departament.departamentName}}"
                name="{{vacancy.name}}"
                salary="{{vacancy.salary}}"
                description="{{vacancy.description}}"
                [tags]="vacancy.tags"
            ></app-vacancy>
        </li>
    </ul>
</div>
</body>
