<div class='vacancy'>
    <div class='department'>
        <div class='department-logo'></div>
        <div class='department-name'>{{departamentName}}</div>
        <div class='like' (click)="onLikeClick()"></div>
    </div>
    <h2 class='vacancy-name'>{{name}}</h2>
    <div class='salary'>От {{salaryFrom | salaryDevide}} до {{salaryTo | salaryDevide}} рублей</div>
    <p class='vacancy-descripton'>
        {{description}}
    </p>
    <div class='vacancy-buttons'>
        <button class='respond' (click)="onRespondClick()">Откликнуться</button>
        <button class='details' (click)="onDetailClick()">Подробнее</button>
    </div>
</div>