<footer class="">
    <div class="container"></div>
    <div class="flex gap-[80px] justify-center h-[150px] w-screen bg-white p-[40px]">
        <div>
            <div>Департаментам</div>
            <ul>
                <li><a class="font-bold">Размещение вакансий </a></li>
                <li><a class="font-bold">Страница департамента</a></li>
            </ul>
        </div>
        <div>
            <div>Соискателям</div>
            <ul>
                <li><a class="font-bold">Поиск вакансии </a></li>
                <li><a class="font-bold">Подборки вакансий </a></li>
            </ul>
        </div>
        <div>
            <div>О нас</div>
            <ul>
                <li><a class="font-bold">Наша страница</a></li>
            </ul>
        </div>
    </div>
</footer>