<div>
    <app-header [isWhiteTeheme]="false"></app-header>
    <div class='page-wrapper'>
        <h1 class='vacancy-header'>Вакансии</h1>
        <div class='row'>
            <div class='left'>
                <div class='sidebar-column'>
                    <div class='sidebar-header'>
                        <h1>Фильтр</h1>
                        <button class='reset-filters'>Сбросить фильтры</button>
                    </div>
                    <ul class='filters'>
                        <li><h2>Сфера деятельности</h2>
                            <ul class='tags'>
                                <li>Маркетинг</li>
                                <li>Продажи</li>
                                <li>Разработка</li>
                                <li>HR</li>
                                <li>Дизайн</li>
                                <li>Выбрать +</li>
                            </ul>
                        </li>
                        <li><h2>Департамент</h2>
                            <ul class='tags'>
                                <li>Департамент1</li>
                                <li>Департамент1</li>
                                <li>Выбрать +</li>
                            </ul>
                        </li>
                        <li><h2>Желаемые компетенции</h2>
                            <ul class='competence-tags'>
                                <li>#figma</li>
                                <li>#интерфейсы</li>
                                <li>#html</li>
                                <li>Добавить +</li>
                            </ul>
                        </li>
                        <li><h2>Тип занятости</h2>
                            <ul class='tags'>
                                <li>Полная занятость</li>
                                <li>Проектная работа</li>
                                <li>Выбрать +</li>
                            </ul>
                        </li>
                        <li><h2>Заработная плата</h2>
                            <form action="" method="get" class="salary-form">
                                <div>
                                    <input type="text" name="name" id="name" required>
                                </div>
                            </form>
                        </li>
                        <li><h2>Опыт работы</h2>
                            <div class="radio">
                                <div class="form_radio">
                                    <input id="radio-1" type="radio" name="radio" value="1" checked>
                                    <label for="radio-1">Без опыта</label>
                                </div>
                                <div class="form_radio">
                                    <input id="radio-2" type="radio" name="radio" value="2">
                                    <label for="radio-2">От одного месяца до года</label>
                                </div>
                                <div class="form_radio">
                                    <input id="radio-3" type="radio" name="radio" value="3">
                                    <label for="radio-3">От одного года до 3 лет</label>
                                </div>
                                <div class="form_radio">
                                    <input id="radio-4" type="radio" name="radio" value="4" disabled>
                                    <label for="radio-4">От 3 до 6 лет</label>
                                </div>
                                <div class="form_radio">
                                    <input id="radio-5" type="radio" name="radio" value="5" disabled>
                                    <label for="radio-5">Более 6 лет</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='right'>
                <form [formGroup]="form">
                    <div class="lupa"></div>
                    <input formControlName="search" class='search' type="text" placeholder="Например, дизайнер">
                </form>
                <div class='new-vacancies' *ngIf="vacancies$ | async as vacancies">
                    <ul>
                        <ng-container *ngIf="getFilteredVacancies(vacancies, form.controls.search.valueChanges | async) as filteredList">
                            <li *ngFor="let filteredVacancy of filteredList">
                                <app-vacancy
                                    id="{{filteredVacancy.id}}"
                                    departamentName="{{filteredVacancy.departament.departamentName}}"
                                    name="{{filteredVacancy.name}}"
                                    salary="{{filteredVacancy.salary}}"
                                    description="{{filteredVacancy.description}}"
                                    [tags]="filteredVacancy.tags"
                                ></app-vacancy>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
