<div>
    <app-header [isWhiteTeheme]="false"></app-header>
    <div class='page-wrapper'>
        <h1 class='vacancy-header'>Вакансии</h1>
        <div class='row'>
            <div class='left'>
                <form class='sidebar-column' [formGroup]="filterForm">
                    <div class='sidebar-header'>
                        <h1>Фильтр</h1>
                        <button class='reset-filters' (click)="onClearButtonClick()">Сбросить фильтры</button>
                    </div>
                    <ul class='filters'>
                        <li><h2>Сфера деятельности</h2>
                            <ul class='tags'>
                                <tui-filter
                                    formControlName="competents"
                                    size="s"
                                    [items]="(competents$ | async)!"
                                    (ngModelChange)="onCompetentsChange($event)"
                                ></tui-filter>
                            </ul>
                        </li>
                        <li><h2>Департамент</h2>
                            <ul class='tags'>
                                <tui-filter
                                    class="filter-item"
                                    formControlName="departaments"
                                    size="s"
                                    [items]="(departaments$ | async)!"
                                    (ngModelChange)="onDepartamentsChange($event)"
                                ></tui-filter>
                            </ul>
                        </li>
                        <li><h2>Желаемые компетенции</h2>
                            <ul class='competence-tags'>
                                <tui-filter
                                    formControlName="tags"
                                    size="s"
                                    [items]="(tags$ | async)!"
                                    (ngModelChange)="onTagsChange($event)"
                                ></tui-filter>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
            <div class='right'>
                <form [formGroup]="form">
                    <div class="lupa"></div>
                    <input formControlName="search" class='search' type="text" placeholder="Например, дизайнер">
                </form>
                <div class='new-vacancies' *ngIf="vacancies$ | async as vacancies">
                    <ul>
                        <ng-container *ngIf="getFilteredVacancies(vacancies, form.controls.search.valueChanges | async) as filteredList">
                            <li *ngFor="let filteredVacancy of filteredList">
                                <app-vacancy
                                    id="{{filteredVacancy.id}}"
                                    departamentName="{{filteredVacancy.departament.departamentName}}"
                                    name="{{filteredVacancy.name}}"
                                    salary="{{filteredVacancy.salary}}"
                                    description="{{filteredVacancy.description}}"
                                    [tags]="filteredVacancy.tags"
                                ></app-vacancy>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
