<body class="main-center">
<div class="new-vacancies">
    <ul>
        <li *ngFor="let vacancy of vacancies$ | async">
            <app-vacancy
                [buttonName]="'Редактировать'"
                [showRespondButton]="false"
                id="{{vacancy.id}}"
                departamentName="{{vacancy.departament.departamentName}}"
                name="{{vacancy.name}}"
                salary="{{vacancy.salary}}"
                description="{{vacancy.description}}"
                [tags]="vacancy.tags"
            ></app-vacancy>
        </li>
    </ul>
</div>
</body>
