<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="styles/main-page.component.scss">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>

<div class="flex flex-col h-screen justify-between">
<header class="text-white">
  <div class="container">
    <nav class="flex p-[42px] w-screen">
      <a href="#"><img src = "" alt=""/></a>
      <ul class="flex gap-[62px] items-center">
        <li class="pl"><a href="">Вакансии</a></li>
        <li><a href="">Департаменты</a></li>
      </ul>
      <ul class="flex absolute gap-[42px] items-center right-20">
        <li class = "flex"><a class="" href="#">Войти</a></li>
        <li class="text-white flex"><a class="py-2 px-5 bg-[#6F08FF] rounded-full" href="#">Зарегистрироваться</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class = 'main-center'>
    <h1>Подборки вакансий</h1>
    <div class="categories">
      <ul>
        <li>Аналитика</li>
        <li>Дизайн</li>
        <li>Разработка</li>
        <li>Поддержка</li>
      </ul>
    </div>
    <h1>Новые вакансии</h1>
    <div class = "new-vacancies">
      <ul>
        <li>
          <div class = 'vacancy'>
            <div class = 'department'>
              <div class = 'department-img'></div>
              <div>Department</div>
            </div>
            <h2 class = 'vacancy-name'>Проектировщик интерфесов</h2>
            <div class = 'salary'>От 60 000 до 100 00 рублей</div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor"
            </p>
          </div>
        </li>
        <li>
          <div class = 'vacancy'>
            <div class = 'department'>
              <div class = 'department-img'></div>
              <div>Department</div>
            </div>
            <h2 class = 'vacancy-name'>Проектировщик интерфесов</h2>
            <div class = 'salary'>От 60 000 до 100 00 рублей</div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor"
            </p>
          </div>
        </li>
        <li>
          <div class = 'vacancy'>
            <div class = 'department'>
              <div class = 'department-img'></div>
              <div>Department</div>
            </div>
            <h2 class = 'vacancy-name'>Проектировщик интерфесов</h2>
            <div class = 'salary'>От 60 000 до 100 00 рублей</div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor"
            </p>
          </div>
        </li>
        <li>
          <div class = 'vacancy'>
            <div class = 'department'>
              <div class = 'department-img'></div>
              <div>Department</div>
            </div>
            <h2 class = 'vacancy-name'>Проектировщик интерфесов</h2>
            <div class = 'salary'>От 60 000 до 100 00 рублей</div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor"
            </p>
          </div>
        </li>
        <li>
          <div class = 'vacancy'>
            <div class = 'department'>
              <div class = 'department-img'></div>
              <div>Department</div>
            </div>
            <h2 class = 'vacancy-name'>Проектировщик интерфесов</h2>
            <div class = 'salary'>От 60 000 до 100 00 рублей</div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor"
            </p>
          </div>
        </li>
        <li>
          <div class = 'vacancy'>
            <div class = 'department'>
              <div class = 'department-img'></div>
              <div>Department</div>
            </div>
            <h2 class = 'vacancy-name'>Проектировщик интерфесов</h2>
            <div class = 'salary'>От 60 000 до 100 00 рублей</div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor"
            </p>
          </div>
        </li>
      </ul>
    </div>
    <h1>Департаменты компании</h1>
    <div class = 'company-departments'>
      <ul>
        <li>
          <div class="developer-img"></div>
          Департамент разработки
        </li>
        <li>
          <div class="manager-img"></div>
          Департамент развития
        </li>
        <li>
          <div class="tester-img"></div>
          Департамент тестирования
        </li>
      </ul>
    </div>
  </div>
</main>

<footer class="">
  <div class="container "></div>
    <div class="flex gap-[80px] justify-center h-[150px] w-screen bg-white p-[40px] ">
      <div>
        <div>Департаментам</div>
        <ul>
          <li><a class="font-bold" href="#">Размещение вакансий </a></li>
          <li><a class="font-bold" href="#">Страница департамента</a></li>
        </ul>
      </div>
      <div>
        <div>Соискателям</div>
        <ul>
        <li><a class="font-bold" href="#">Поиск вакансии </a></li>
        <li><a class="font-bold" href="#">Подборки вакансий </a></li>
        </ul>
      </div>
      <div>
        <div>О нас</div>
        <ul>
        <li><a class="font-bold" href="#">Наша страница</a></li>
        </ul>
      </div>
    </div>
</footer>
</div>
</body>

</html>



