<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="styles/main-page.component.scss">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="flex flex-col h-screen justify-between">
<header class="">
  <div class="container ">
    <nav class="flex h-[104px] justify-start items-center p-[42px] w-screen bg-white ">
      <a href="#"><img src = "" alt=""/></a>
      <ul class="flex gap-[62px]">
        <li class="pl-[335px]"><a href="">Вакансии</a></li>
        <li><a href="">Департаменты</a></li>
      </ul>
      <ul class="flex gap-[42px] items-center">
        <li class = "flex pl-[635px]"><a class="" href="#">Войти</a></li>
        <li class="text-white flex"><a class="py-2 px-5 bg-[#6F08FF] rounded-full" href="#">Зарегистрироваться</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>

</main>
<footer class="">
  <div class="container "></div>
    <div class="flex gap-[80px] justify-center h-[150px] w-screen bg-white p-[40px] ">
      <div>
        <div>Департаментам</div>
        <ul>
          <li><a class="font-bold" href="#">Размещение вакансий </a></li>
          <li><a class="font-bold" href="#">Страница департамента</a></li>
        </ul>
      </div>
      <div>
        <div>Соискателям</div>
        <ul>
        <li><a class="font-bold" href="#">Поиск вакансии </a></li>
        <li><a class="font-bold" href="#">Подборки вакансий </a></li>
        </ul>
      </div>
      <div>
        <div>О нас</div>
        <ul>
        <li><a class="font-bold" href="#">Наша страница</a></li>
        </ul>
      </div>
    </div>
</footer>
</div>
</body>
</html>



