<main>
    <app-header></app-header>
    <div class='main-center'>
        <h1>Подборки вакансий</h1>
        <h1>Новые вакансии</h1>
        <div class="new-vacancies">
            <ul>
                <li *ngFor="let vacancy of vacancies">
                    <app-vacancy
                        id="{{vacancy.id}}"
                        departamentName="{{vacancy.departamentName}}"
                        name="{{vacancy.name}}"
                        salaryFrom="{{vacancy.salaryFrom}}"
                        salaryTo="{{vacancy.salaryTo}}"
                        description="{{vacancy.description}}"
                    ></app-vacancy>
                </li>
            </ul>
        </div>
        <h1>Департаменты компании</h1>
        <div class='company-departments'>
            <ul>
                <li *ngFor="let departamentInfo of departamentInfoList" (click)="onDepartamentClick(departamentInfo)">
                    <div class="{{departamentInfo.logoName}}"></div>
                    {{departamentInfo.name}}
                    <hr>
                </li>
            </ul>
        </div>
    </div>
    <app-footer></app-footer>
</main>