<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<div class="flex flex-col h-screen justify-between">
  <app-header [showDepartament]="true" [isWhiteTeheme]="false" [showLogin] ='false' [isAuthorized]="true"></app-header>

  <main>
    <div class = 'main-center'>
      <div class="categories">
        <ul class="im">
          <li class="uwu"><a href="/cabinet/reviewed">Рассмотренные</a></li>
          <li class="uwu"> <a href="/cabinet/featured">Избранные вакансии</a></li>
          <a class="but1"><li>Профиль</li></a>
        </ul>
      </div>
      <!--
      <app-resume
        id="{{profile$.id}}"
        salary="{{profile$.salary}}"
        description="{{profile$.description}}"
        experience="{{profile$.experience}}"
      ></app-resume>
      -->
      <button class="edit-profile" (click)="onEditProfileClick()">Редактировать профиль</button>
    </div>
  </main>

  <app-footer></app-footer>
</div>



