<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Montserrat:100,200,300,400,500,600,700,800"
        rel="stylesheet">
  <link rel="stylesheet" href="styles/user-start-page.component.scss">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>

<div class="flex flex-col h-screen justify-between">
  <header class="text-black">
    <div class="container">
      <nav class="flex p-[42px] w-screen">
        <a href="#"><img src = "" alt=""/></a>
        <ul class="flex gap-[62px] items-center">
          <li class="pl font-bold "><a href="/cabinet/search">Вакансии</a></li>
          <li class="font-bold"><a href="">Департаменты</a></li>
        </ul>
        <ul class="flex absolute gap-[42px] items-center right-20">
          <li class = "flex"><a class="" href="#">Иван</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class = 'main-center'>
      <div class="categories">
        <ul class="im">
          <li class="uwu"><a href="/cabinet/reviewed">Рассмотренные</a></li>
          <li class="uwu"> <a href="/cabinet/featured">Избранные вакансии</a></li>
          <a class="but1"><li>Профиль</li></a>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="boom">
        <img class = "main-bg" src ='mm.png' width="300"/>
        <ul class="pad">
          <li style="margin-bottom: 1em;" class="text21">Иванов Иван Иванович</li>
        </ul>
        <ul class="pad">
          <li class="text22">Мужчина, 25 лет, родился 20 января 1998</li>
        </ul>
        <ul class="pad">
          <li style="margin-bottom: 1em;" class="text22">Екатеринбург</li>
        </ul>
        <ul class="pad">
          <li style="margin-bottom: 1em;" class="text24">+79538465948</li>
        </ul>
        <ul class="pad">
          <li class="text25">Способы связи</li>
        </ul>
        <ul class="pad">
          <a href=""><li style="margin-bottom: 1em;" class="text26">Telegram</li></a>
        </ul>
        <ul class="pad">
          <li class="text25">Текущая должность</li>
        </ul>
        <ul class="pad">
          <li style="margin-bottom: 1em;" class="text26">UX/UI дизайнер в департаменте разработки и внедрения</li>
        </ul>
        <ul class="pad">
          <li class="text25">Стаж</li>
        </ul>
        <ul class="pad">
          <li class="text26">3 года, 7 месяцев</li>
        </ul>
        <ul>
          <a href="#"><li class="but99">Редактировать профиль</li></a>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat">
        <ul class="im">
          <li style="margin-bottom: -0.1em;" class="text1">Мои компетенции</li>
        </ul>
        <ul class="im">
          <li class="text2">#figma</li>
          <li class="text2">#интерфейсы</li>
          <li class="text2">#mobile</li>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat2">
        <ul class="im">
          <li style="margin-bottom: -0.1em;" class="text1">Желаемая должность</li>
        </ul>
        <ul class="im">
          <li class="text3">Senior UX/UI дизайнер</li>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat2">
        <ul class="im">
          <li style="margin-bottom: -0.1em;" class="text1">Желаемая заработная плата</li>
        </ul>
        <ul class="im">
          <li class="text3">90 000 рублей</li>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat2">
        <ul class="im">
          <li style="margin-bottom: -0.1em;" class="text1">Занятость</li>
        </ul>
        <ul class="im">
          <li class="text4">Стажировка, частичная занятость, проектная работа, полная занятость</li>
        </ul>
        <ul class="im">
          <li style="margin-bottom: -0.1em;" class="text1">График</li>
        </ul>
        <ul class="im">
          <li class="text4">Гибкий график, полный день, сменный график, удаленная работа</li>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="vert1">
      <div class="cat7">
        <ul class="im">
          <li class="text1">Образование</li>
        </ul>
        <ul style="margin-bottom: -2em;" class="">
          <li class="text9 im">Высшее:</li>
          <li class="text10 im2">ДГТУ г. Ростов-на-Дону</li>
        </ul>
        <ul style="margin-bottom: -2em;" class="">
          <li class="text9 im">Факультет:</li>
          <li class="text10 im3">Компьютеризации</li>
        </ul>
        <ul style="margin-bottom: -2em;" class="">
          <li class="text9 im">Специальность:</li>
          <li class="text10 im4">Компьютерные технологии и системы</li>
        </ul>
        <ul class="">
          <li class="text9 im">Год окончания:</li>
          <li class="text10 im5">2018</li>
        </ul>
      </div>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat3">
          <p style="margin-bottom: 0.5em;" class="text1 vertical im">О себе</p>
          <p class="text5 im">Имею тонкий художественный вкус, проектирую интерфейсы с расчетом на пользовательское юзабилити. Исключаю графический мусор в своих работах. Периодически участвую в конкурсах веб-дизайнеров. Имею привычку заканчивать работу пор проектам вовремя, не выхожу за рамки дедлайна. В 2013 г. занял третье место по итогам Всероссийского межвузовского конкурса на лучшую версию студенческого портала</p>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat6">
        <ul class="im">
          <a href="#"><li class="but5">Загрузить резюме</li></a>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat6">
        <ul class="im">
          <a href="#"><li class="but2">Загрузить портфолио</li></a>
        </ul>
      </div>
      <div style="padding: 20px;"></div>
      <div class="cat4">
        <ul>
          <a href="#"><li class="but3">Снять с публикации</li></a>
        </ul>
      </div>
      <div style="padding: 30px;"></div>
    </div>
  </main>

  <footer class="">
    <div class="container "></div>
    <div class="flex gap-[80px] justify-center h-[150px] w-screen bg-white p-[40px] ">
      <div>
        <div>Департаментам</div>
        <ul>
          <li><a class="font-bold" href="#">Размещение вакансий </a></li>
          <li><a class="font-bold" href="#">Страница департамента</a></li>
        </ul>
      </div>
      <div>
        <div>Соискателям</div>
        <ul>
          <li><a class="font-bold" href="#">Поиск вакансии </a></li>
          <li><a class="font-bold" href="#">Подборки вакансий </a></li>
        </ul>
      </div>
      <div>
        <div>О нас</div>
        <ul>
          <li><a class="font-bold" href="#">Наша страница</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>

</html>


