

<div class="flex flex-col h-screen justify-between">
  <app-user-header  [isWhiteLogo]="false" ></app-user-header>

  <main>
    <div class = 'main-center'>
      <div class="categories">
        <ul class="im">
          <a class="but1"><li>Рассмотренные</li></a>
          <li class="uwu"> <a href="/cabinet/featured">Избранные вакансии</a></li>
          <li class="uwu"> <a href="/cabinet/profile">Профиль</a></li>
        </ul>
      </div>
      <div>
        <h1 style="margin-top: 30px" class = 'vacancy-header'>Рассмотренные вакансии</h1>
      </div>
    </div>
    <div class = 'new-vacancies'>
      <ul>

      </ul>
    </div>

  </main>

  <app-footer></app-footer>
</div>



