<main>
  <app-user-header [showDepartament]="true" [departamentElement]="departamentsTemplate" [isWhiteLogo]="true"></app-user-header>
  <div class="wrapper">
    <div class="slogan"><span class='sl-1'>ЭТА РАБОТА</span><br> <span class='sl-2'> ЖДЕТ ТЕБЯ</span></div>
  </div>
  <div class='main-center'>
    <h1>Новые вакансии</h1>
    <div class="new-vacancies">
      <ul>
        <li *ngFor="let vacancy of vacancies$ | async">
          <app-vacancy
            id="{{vacancy.id}}"
            departamentName="{{vacancy.departament.departamentName}}"
            name="{{vacancy.name}}"
            salary="{{vacancy.salary}}"
            description="{{vacancy.description}}"
            [tags]=[]
          ></app-vacancy>
        </li>
      </ul>
    </div>
    <h1 #departaments>Департаменты компании</h1>
    <div class='company-departments'>
      <ul *ngIf="departaments$ | async as departaments">
        <li (click)="onDepartamentClick(departaments[0])">

          {{departaments[0].departamentName}}

        </li>
        <li (click)="onDepartamentClick(departaments[1])">

          {{departaments[1].departamentName}}

        </li>
        <li (click)="onDepartamentClick(departaments[2])">

          {{departaments[2].departamentName}}

        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</main>
