<main>
    <app-user-header></app-user-header>
    <div class="wrapper">
        <div class="slogan"><span class='sl-1'>ЭТА РАБОТА</span><br> <span class='sl-2'> ЖДЕТ ТЕБЯ</span></div>
        <button class="search" (click)="onFindJobClick()">Найти работу</button>
    </div>
    <div class='main-center' #departaments *ngIf="departament$ | async as departament">
        <h1>Глава департамента</h1>
        <div class="department-head-wrapper">
            <div class="department-head-bg">
                <div class="head-img"></div>
            </div>
            <div class="break-block"></div>
            <h2 class="head-name">{{departament.headFullName}}</h2>
        </div>
        <div class="vacancy-department-header">
            <h1>Вакансии компании</h1>
            <button class='find-all-jobs' (click)="onFindAllJobs()">Смотреть все</button>
        </div>
        <div class="department-vacancies">
            <ul>
                <li *ngFor="let vacancy of vacancies$ | async">
                    <app-vacancy
                        id="{{vacancy.id}}"
                        departamentName="{{vacancy.departament.departamentName}}"
                        name="{{vacancy.name}}"
                        salary="{{vacancy.salary}}"
                        description="{{vacancy.description}}"
                        [tags]="vacancy.tags"
                    ></app-vacancy>
                </li>
            </ul>
        </div>
        <h1>Отзывы сотрудников</h1>
        <div class="employee-review">
            <div class="employee-review-img"></div>
            <div class="review-wrapper">
                <div class="quote-upper"></div>
                <p class="review">{{departament.departamentReview}}</p>
                <div class="quote-lower"></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>
